body {
  font-family: "Arial",Helvetica Neue,Helvetica,sans-serif;
}
.top-nav {
  background-color: #f2f2f2;
  height: 35px;
}
.registration {
  background: #dba200;
  font-size: 16px;
  color: white;
  padding: 6px 30px;
  font-weight: 400;
  border: none;
}
.language {
  font-size: 16px;
  font-weight: 300;
}
a {
  color: inherit;
}
.second-nav {
  background-color: #f8f9fa!important;
  border-bottom: 2px solid green;
}
.heading-title {
  font-size: 30px;
  color: #212e64;
  font-weight: 600;
}
.sub-heading a:hover {
  color: green;
}
.logo {
  width: 170px;
  overflow: hidden;
  height: 90px;
  padding: 8px 0;
  padding-right: 0 !important;
}
.p-banner {
  font-size: 20px;
}
.btn-banner {
  padding: 10px 0px;
  width: 110px;
  font-size: 18px;
}
.size-banner {
  width: 100%;
}
.img-banner {
  height: 400px;
  object-fit: cover;
}
