body {
  font-family: "Arial",Helvetica Neue,Helvetica,sans-serif;
}
.top-nav {
  background-color: #f2f2f2;
  height: 35px;
}
.registration {
  background: #dba200;
  font-size: 16px;
  color: white;
  padding: 6px 30px;
  font-weight: 400;
  border: none;
}
.language {
  font-size: 16px;
  font-weight: 300;
}
a {
  color: inherit;
}
.second-nav {
  background-color: #f8f9fa!important;
  border-bottom: 2px solid green;
}
.heading-title {
  font-size: 30px;
  color: #212e64;
  font-weight: 600;
}
.sub-heading a:hover {
  color: green;
}
.logo {
  width: 170px;
  overflow: hidden;
  height: 90px;
  padding: 8px 0;
  padding-right: 0 !important;
}
.p-banner {
  font-size: 20px;
}
.btn-banner {
  padding: 10px 0px;
  width: 110px;
  font-size: 18px;
}
.size-banner {
  width: 100%;
}
.img-banner {
  height: 400px;
  object-fit: cover;
}
.heading-main-container {
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
}
.img-blog-main-container {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.img-profile {
  border-radius: 50px;
  width: 55px;
  float: left;
}
.user-profile {
  padding-top: 10px;
  font-weight: 600;  
}
.more-link {
  padding-top: 20px;
  font-size: 20px;
}
a:hover{
  color: inherit;
}
.blog-text {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;

}
.blog-card {
  border: none;
  background-color: #f2f2f2;
}
.main-container {
  background-color: #f2f2f2;
  padding-bottom: 25px;
}
.first-footer {
  margin-top: 30px;
}
.footer-img-1 {
  width: 74px;
  height: 98px;
  background-size: contain;
  margin-left: 135px;
}
.footer-img-2 {
  width: 170px;
  height: 98px;
  background-size: contain;
  margin-left: 95px;
}
.footer-img-3 {
  width: 110px;
  height: 98px;
  background-size: contain;
  margin-left: 128px;
}
.first-footer-heading {
  font-weight: 600;
  padding-top: 10px;
}
.first-footer-text {
  color: #6d6d6d;
  font-size: 18px;
}
.first-sub {
  padding-top: 25px;
  padding-bottom: 20px;
  clear: both;
}
.first-sub h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.first-sub p {
  font-size: 20px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 18px;
}
.first-sub button {
  padding: 10px 0px;
  width: 110px;
  font-size: 18px;
  text-align: center;
  border: none;
}
.second-footer {
  background-color: #222525;
  padding-bottom: 5px;
  padding-top: 5px;
}
.first-footer-nav {
  color: #ededed;
  float: left;
  font-size: 18px;
}
.second-footer-nav {
  float: right;
  color: #787976;
  font-size: 25px;
  margin: 5px 0;
}
.last-footer {
  padding-top: 35px;
  background-color: #000000;
  color: #666666;
  min-height: 230px;
}
.last-footer li {
  padding: 4px 0px;
}
.al-nav {
  font-size: 13px;
  display: inline-block;
}
.al-nav a:hover {
  text-decoration: underline;
}
.aj-nav {
  font-size: 13px;
  display: inline-block;
  padding-top: 27px;
}
.footer-text {
  font-size: 13px;
}
.footer-img-size {
  width: 150px;
  float: right;
  padding-bottom: 25px;
}
.float-para {
  float: right;
}
